@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    background-color: #222;
    color: #fff;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: .125px;
    font-family: 'Open Sans', sans-serif;
    scrollbar-color: rgba(255, 255, 255, 0.4) none;
}

::selection {
  background-color: #AD1457;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-track {
  background: none;
}

body {
    max-width: 960px;
    margin: 64px auto;
    padding: 0 32px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
    font-weight: 400;
    margin: 0;
    letter-spacing: normal;
}

h1 {
    font-size: 64px;
    letter-spacing: .5px;
    margin-bottom: 72px;
}

h2 {
    font-size: 112px;
    line-height: 144px;
    letter-spacing: -3px;
}

h3 {
    font-size: 64px;
    letter-spacing: -.5px;
    margin: 96px 0 64px;
}

p, li {
    margin: 48px 0;
}

a {
    color: #29B6F6;
    text-decoration: none;
}

a:hover {
    color: #B3E5FC;
}

code {
    padding: 4px 12px 6px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
}

pre {
    padding: 0 48px;
    white-space: pre-wrap;
    overflow-x: auto;
}

summary {
    cursor: pointer;
}

nav {
    margin: 64px 0;
    display: flex;
  flex-direction: row;
}

nav a {
    margin-right: 72px;
}
